## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(columns = ['EIN', 'NAME'])
application_df

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...
34294,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

In [3]:
# Determine the number of unique values in each column.
application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [4]:
# Look at APPLICATION_TYPE value counts to identify and replace with "Other"
app_val_count = application_df['APPLICATION_TYPE'].value_counts()

app_val_count

APPLICATION_TYPE
T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: count, dtype: int64

In [5]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
cutoff_value = 300

application_types_to_replace = app_val_count[app_val_count<cutoff_value].index

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure replacement was successful
application_df['APPLICATION_TYPE'].value_counts()

APPLICATION_TYPE
T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: count, dtype: int64

In [6]:
# Look at CLASSIFICATION value counts to identify and replace with "Other"
class_val_count = application_df['CLASSIFICATION'].value_counts()

class_val_count

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: count, Length: 71, dtype: int64

In [7]:
# You may find it helpful to look at CLASSIFICATION value counts >1
class_val_count[class_val_count>1]

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: count, dtype: int64

In [8]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
cutoff_value_class = 100

classifications_to_replace = class_val_count[class_val_count<cutoff_value_class].index

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure replacement was successful
application_df['CLASSIFICATION'].value_counts()

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
Other      669
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
Name: count, dtype: int64

In [9]:
# Convert categorical data to numeric with `pd.get_dummies` --- creates booleans of the categories
application_df = pd.get_dummies(application_df)

application_df

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,False,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
1,1,108590,1,False,False,False,True,False,False,False,...,True,False,False,False,False,False,False,False,True,False
2,1,5000,0,False,False,False,False,False,True,False,...,False,False,False,False,False,False,False,False,True,False
3,1,6692,1,False,False,False,True,False,False,False,...,False,True,False,False,False,False,False,False,True,False
4,1,142590,1,False,False,False,True,False,False,False,...,False,False,True,False,False,False,False,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,1,5000,0,False,False,False,False,True,False,False,...,False,False,False,False,False,False,False,False,True,False
34295,1,5000,0,False,False,False,False,True,False,False,...,False,False,False,False,False,False,False,False,True,False
34296,1,5000,0,False,False,False,True,False,False,False,...,False,False,False,False,False,False,False,False,True,False
34297,1,5000,1,False,False,False,False,False,True,False,...,False,False,False,False,False,False,False,False,True,False
34298,1,36500179,0,False,False,False,True,False,False,False,...,False,False,False,False,True,False,False,False,True,False

In [10]:
# Split our preprocessed data into our features and target arrays
# note that features are x = everything except price or whatever target, in this case what is successful?
# note that target array are y = price or target everything but the "successful column"
X = application_df.drop(columns='IS_SUCCESSFUL').values
y = application_df['IS_SUCCESSFUL'].values

# Split the preprocessed data into a training and testing dataset -- choose to stratify so that the classes are more balanced out bc it's a small dataset and imbalanced
X_train, X_test, y_train, y_test = train_test_split(X, y,stratify=y,test_size=.2, random_state=42)

In [11]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [19]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
# because it appears we are overfitting data in model 1-- the validation loss increases overtime suggesting it's getting better memorizing but not learning so we have a few options:
# - reduce layers (reducing by 1)
# - add regularization-- dropout or L2
# - use early stopping
from tensorflow.keras.layers import Dense, Dropout
from tensorflow.keras.callbacks import EarlyStopping


nn = tf.keras.models.Sequential()

input_shape = X.shape[1] # number of columns in the dataset

# First hidden layer
nn.add(Dense(units=128,
             activation='relu',
             input_shape=(input_shape,),
             kernel_regularizer=tf.keras.regularizers.l2(0.01)))  # L2 regularization (0.01 is a common starting point)
nn.add(Dropout(0.5))  # Dropout layer with 50% dropout rate

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation='sigmoid'))

# Check the structure of the model
nn.summary()

/usr/local/lib/python3.10/dist-packages/keras/src/layers/core/dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

Model: "sequential_1"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━┓
┃ Layer (type)                         ┃ Output Shape                ┃         Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━┩
│ dense_3 (Dense)                      │ (None, 128)                 │           6,400 │
├──────────────────────────────────────┼─────────────────────────────┼─────────────────┤
│ dropout (Dropout)                    │ (None, 128)                 │               0 │
├──────────────────────────────────────┼─────────────────────────────┼─────────────────┤
│ dense_4 (Dense)                      │ (None, 1)                   │             129 │
└──────────────────────────────────────┴─────────────────────────────┴─────────────────┘

 Total params: 6,529 (25.50 KB)

 Trainable params: 6,529 (25.50 KB)

 Non-trainable params: 0 (0.00 B)

In [20]:
# Compile the model

# define optimizer -- these can be adam(go-to), SGD(basic), RMSProp(RNN,online learning), Adagrad(sparse data, text processing), adadelta(better adagrad)
# define loss function -- these can be binary crossentropy, categorical crossentropy, mean squared or error (continuous data), hinge loss
# define metrics -- for classification like this--- this is usually "accuracy"

# Compile the model
nn.compile(optimizer='adam',
           loss='binary_crossentropy',    # Loss function: Binary crossentropy for binary classification
           metrics=['accuracy'])

In [22]:
# Train the model
nn.fit(X_train_scaled,
       y_train,
       epochs = 50, # adding epochs because we are doing early stopping
       batch_size = 32,
       shuffle = True,
       verbose = 2,
       validation_data=(X_test_scaled, y_test))

Epoch 1/50
858/858 - 5s - 6ms/step - accuracy: 0.7262 - loss: 0.5789 - val_accuracy: 0.7178 - val_loss: 0.5838
Epoch 2/50
858/858 - 3s - 3ms/step - accuracy: 0.7268 - loss: 0.5793 - val_accuracy: 0.7176 - val_loss: 0.5766
Epoch 3/50
858/858 - 5s - 6ms/step - accuracy: 0.7261 - loss: 0.5791 - val_accuracy: 0.7200 - val_loss: 0.5794
Epoch 4/50
858/858 - 4s - 5ms/step - accuracy: 0.7269 - loss: 0.5790 - val_accuracy: 0.7169 - val_loss: 0.5786
Epoch 5/50
858/858 - 2s - 2ms/step - accuracy: 0.7260 - loss: 0.5799 - val_accuracy: 0.7204 - val_loss: 0.5772
Epoch 6/50
858/858 - 3s - 3ms/step - accuracy: 0.7266 - loss: 0.5783 - val_accuracy: 0.7179 - val_loss: 0.5779
Epoch 7/50
858/858 - 3s - 3ms/step - accuracy: 0.7280 - loss: 0.5790 - val_accuracy: 0.7181 - val_loss: 0.5773
Epoch 8/50
858/858 - 2s - 2ms/step - accuracy: 0.7256 - loss: 0.5793 - val_accuracy: 0.7184 - val_loss: 0.5806
Epoch 9/50
858/858 - 4s - 4ms/step - accuracy: 0.7255 - loss: 0.5786 - val_accuracy: 0.7198 - val_loss: 0.5770
Epoch 10/50
858/858 - 4s - 5ms/step - accuracy: 0.7266 - loss: 0.5788 - val_accuracy: 0.7197 - val_loss: 0.5786
Epoch 11/50
858/858 - 2s - 2ms/step - accuracy: 0.7258 - loss: 0.5788 - val_accuracy: 0.7227 - val_loss: 0.5734
Epoch 12/50
858/858 - 3s - 3ms/step - accuracy: 0.7261 - loss: 0.5782 - val_accuracy: 0.7197 - val_loss: 0.5793
Epoch 13/50
858/858 - 2s - 2ms/step - accuracy: 0.7257 - loss: 0.5780 - val_accuracy: 0.7208 - val_loss: 0.5762
Epoch 14/50
858/858 - 4s - 4ms/step - accuracy: 0.7268 - loss: 0.5794 - val_accuracy: 0.7207 - val_loss: 0.5790
Epoch 15/50
858/858 - 4s - 4ms/step - accuracy: 0.7254 - loss: 0.5791 - val_accuracy: 0.7191 - val_loss: 0.5790
Epoch 16/50
858/858 - 2s - 2ms/step - accuracy: 0.7259 - loss: 0.5790 - val_accuracy: 0.7227 - val_loss: 0.5757
Epoch 17/50
858/858 - 2s - 3ms/step - accuracy: 0.7266 - loss: 0.5785 - val_accuracy: 0.7194 - val_loss: 0.5773
Epoch 18/50
858/858 - 2s - 2ms/step - accuracy: 0.7247 - loss: 0.5796 - val_accuracy: 0.7168 - val_loss: 0.5793
Epoch 19/50
858/858 - 4s - 4ms/step - accuracy: 0.7279 - loss: 0.5792 - val_accuracy: 0.7198 - val_loss: 0.5772
Epoch 20/50
858/858 - 2s - 2ms/step - accuracy: 0.7262 - loss: 0.5776 - val_accuracy: 0.7204 - val_loss: 0.5781
Epoch 21/50
858/858 - 2s - 2ms/step - accuracy: 0.7266 - loss: 0.5782 - val_accuracy: 0.7179 - val_loss: 0.5800
Epoch 22/50
858/858 - 3s - 3ms/step - accuracy: 0.7252 - loss: 0.5792 - val_accuracy: 0.7229 - val_loss: 0.5772
Epoch 23/50
858/858 - 3s - 3ms/step - accuracy: 0.7260 - loss: 0.5781 - val_accuracy: 0.7233 - val_loss: 0.5746
Epoch 24/50
858/858 - 3s - 4ms/step - accuracy: 0.7252 - loss: 0.5784 - val_accuracy: 0.7171 - val_loss: 0.5779
Epoch 25/50
858/858 - 2s - 3ms/step - accuracy: 0.7263 - loss: 0.5778 - val_accuracy: 0.7217 - val_loss: 0.5765
Epoch 26/50
858/858 - 2s - 2ms/step - accuracy: 0.7262 - loss: 0.5793 - val_accuracy: 0.7219 - val_loss: 0.5788
Epoch 27/50
858/858 - 3s - 3ms/step - accuracy: 0.7252 - loss: 0.5781 - val_accuracy: 0.7214 - val_loss: 0.5869
Epoch 28/50
858/858 - 2s - 2ms/step - accuracy: 0.7281 - loss: 0.5778 - val_accuracy: 0.7176 - val_loss: 0.5757
Epoch 29/50
858/858 - 3s - 3ms/step - accuracy: 0.7271 - loss: 0.5766 - val_accuracy: 0.7206 - val_loss: 0.5749
Epoch 30/50
858/858 - 2s - 2ms/step - accuracy: 0.7266 - loss: 0.5788 - val_accuracy: 0.7166 - val_loss: 0.5761
Epoch 31/50
858/858 - 3s - 3ms/step - accuracy: 0.7267 - loss: 0.5768 - val_accuracy: 0.7163 - val_loss: 0.5775
Epoch 32/50
858/858 - 2s - 2ms/step - accuracy: 0.7256 - loss: 0.5782 - val_accuracy: 0.7232 - val_loss: 0.5730
Epoch 33/50
858/858 - 3s - 3ms/step - accuracy: 0.7269 - loss: 0.5764 - val_accuracy: 0.7223 - val_loss: 0.5751
Epoch 34/50
858/858 - 2s - 2ms/step - accuracy: 0.7259 - loss: 0.5797 - val_accuracy: 0.7197 - val_loss: 0.5744
Epoch 35/50
858/858 - 2s - 2ms/step - accuracy: 0.7259 - loss: 0.5789 - val_accuracy: 0.7213 - val_loss: 0.5760
Epoch 36/50
858/858 - 2s - 2ms/step - accuracy: 0.7248 - loss: 0.5783 - val_accuracy: 0.7195 - val_loss: 0.5730
Epoch 37/50
858/858 - 2s - 3ms/step - accuracy: 0.7252 - loss: 0.5792 - val_accuracy: 0.7137 - val_loss: 0.5779
Epoch 38/50
858/858 - 3s - 4ms/step - accuracy: 0.7267 - loss: 0.5773 - val_accuracy: 0.7188 - val_loss: 0.5757
Epoch 39/50
858/858 - 4s - 5ms/step - accuracy: 0.7260 - loss: 0.5774 - val_accuracy: 0.7201 - val_loss: 0.5754
Epoch 40/50
858/858 - 3s - 3ms/step - accuracy: 0.7260 - loss: 0.5786 - val_accuracy: 0.7219 - val_loss: 0.5749
Epoch 41/50
858/858 - 2s - 2ms/step - accuracy: 0.7252 - loss: 0.5796 - val_accuracy: 0.7197 - val_loss: 0.5774
Epoch 42/50
858/858 - 4s - 4ms/step - accuracy: 0.7261 - loss: 0.5781 - val_accuracy: 0.7232 - val_loss: 0.5804
Epoch 43/50
858/858 - 4s - 5ms/step - accuracy: 0.7247 - loss: 0.5781 - val_accuracy: 0.7171 - val_loss: 0.5788
Epoch 44/50
858/858 - 2s - 2ms/step - accuracy: 0.7240 - loss: 0.5781 - val_accuracy: 0.7207 - val_loss: 0.5792
Epoch 45/50
858/858 - 2s - 2ms/step - accuracy: 0.7273 - loss: 0.5784 - val_accuracy: 0.7185 - val_loss: 0.5837
Epoch 46/50
858/858 - 2s - 2ms/step - accuracy: 0.7262 - loss: 0.5779 - val_accuracy: 0.7214 - val_loss: 0.5766
Epoch 47/50
858/858 - 2s - 2ms/step - accuracy: 0.7251 - loss: 0.5781 - val_accuracy: 0.7203 - val_loss: 0.5741
Epoch 48/50
858/858 - 3s - 3ms/step - accuracy: 0.7270 - loss: 0.5778 - val_accuracy: 0.7191 - val_loss: 0.5789
Epoch 49/50
858/858 - 2s - 2ms/step - accuracy: 0.7240 - loss: 0.5784 - val_accuracy: 0.7216 - val_loss: 0.5785
Epoch 50/50
858/858 - 2s - 3ms/step - accuracy: 0.7253 - loss: 0.5775 - val_accuracy: 0.7172 - val_loss: 0.5772

In [23]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

215/215 - 0s - 1ms/step - accuracy: 0.7172 - loss: 0.5772
Loss: 0.5772327184677124, Accuracy: 0.7172011733055115

In [24]:
# Export our model to HDF5 file
nn.save('alphabet_soupv2.h5')

#nn.save('alphabet_soupv1.keras')   # another way of saving this, but hw requires h5

WARNING:absl:You are saving your model as an HDF5 file via `model.save()` or `keras.saving.save_model(model)`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')` or `keras.saving.save_model(model, 'my_model.keras')`.